.tabwidget {
	height: 40px;
	width: 100%;
	border-color: #AAAAAA;
	background-color:#EEEEEE;
	overflow: hidden;
	font-size: 16px;
	border-left: solid 1px #AAAAAA;
	border-top: solid 1px #AAAAAA;
	border-bottom: solid 1px #AAAAAA;
	display: flex;
}


.tabitem{
	color: #796e6e;
	display: inline;
	text-align: center;
	width: 100%;
	line-height: 40px;
	border-right: solid 1px #AAAAAA;
}

.curtab {
	color: #fc0000;
	background-color: #F9F9F9;
}